{% extends 'base.html.twig' %}

{% block title %}  Parc a Vélo{% endblock %}
{% block body %}
    <div class="container  ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand text-danger" href="#">Paramètres</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Classe
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('eleve_index')}}"> Toutes les classes</a>

                            {% for classDetail in class %}
                                <a class="dropdown-item" href="{{ path('eleve_orderClass',{'class': classDetail['classe']}) }}"> {{ classDetail['classe'] }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr class="tr-head">
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Classe</th>
                        <th scope="col">Code RFID</th>
                        <th scope="col">Code-Barres</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for eleve in eleves %}
                        <tr class="tr-body">
                            <td>{{ eleve.nom }}</td>
                            <td>{{ eleve.prenom }}</td>
                            <td>{{ eleve.classe }}</td>
                            <td>{{ eleve.codeRFID }}</td>
                            <td>{{ eleve.codeBarre }}</td>
                            <td> <img src="{{asset('images/eleves/'~eleve.image)}}" alt=" Image éleve" class="img-fluid"></td>
                            <td class="d-flex flex-column">
                                <a href="{{ path('eleve_show_liste', {'id': eleve.id}) }}" class="btn btn-primary">Détails</a>
                                <a href="{{ path('eleve_edit', {'id': eleve.id}) }}" class="btn btn-success mt-1"> Editer</a>

{#                                {%  if eleve.entres[0].date is null and eleve.sortie[0].date is null %}#}
{#                                    <a href="{{ path('eleve_delete', {'id': eleve.id}) }}" class="btn btn-danger mt-1">Supprimer</a>#}
{#                                {% endif %}#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </div>

{% endblock %}
