<nav class=" navbar navbar-expand-lg  navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><img src="{{asset('logo/lycee.png')}}" alt="logo Lycee"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Gestion  |</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('eleve_new') }}">Ajouter</a>
            </li>
            <li class="nav-item active mr-4">
                <a class="nav-link" href="{{ path('eleve_index') }}">Liste</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" href="#">Logs  |</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{path('entre_eleve')}}">Entrées</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ path('sortie_eleve') }}>Sorties</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ path('refus_eleve') }}>Refus</a>
            </li>
            {% if app.user %}
                <li class="nav-item active ml-5">
                    <a class="nav-link" href={{ path('app_logout') }}>Déconnexion</a>
                </li>
            {% endif %}

        </ul>

    </div>
      </nav>